<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div th:replace="/layout :: top-menu"></div>
<div layout:fragment="content">
    <div class="income-header">
        <button class="arrow left-arrow" type="button" onclick="moveToPreviousMonth()">&#10094;</button>
        <button th:class="month-title" type="button" onclick="yearMonthModal.openModal();"><span id="month-number">3</span>월<span th:class="year-title">(<span id="year-title">2024</span>)</span> 수입 내역</button>
        <button class="arrow right-arrow" type="button" onclick="moveToNextMonth()">&#10095;</button>
    </div>
    <div id="grid"></div>
    <div class="bottom-button-container">
        <button type="button" class="btn-remove" onclick="removeRow()">행삭제</button>
        <button type="button" class="btn-append" onclick="appendRow()">행추가</button>
    </div>
    <script type="text/javascript" th:src="@{/js/transactionrecords/common.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/transactionrecords/income.js}" defer></script>
</div>
<div th:replace="/layout :: footer"></div>
</body>
</html>
