body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #F5F5F5; /* 밝은 회색으로 변경 */
    color: #333; /* 어두운 회색으로 텍스트 색상 조정 */
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

#top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242; /* 어두운 회색으로 변경 */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 강화 */
    border-radius: 10px; /* 모서리 둥글기 */
    margin: 10px;
    overflow: hidden;
}

#top-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#top-menu ul li {
    margin: 0 20px; /* 간격 조정 */
}

#top-menu a {
    text-decoration: none;
    color: #E0E0E0; /* 메뉴 항목을 밝은 회색으로 변경 */
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#top-menu a:hover {
    background-color: #616161; /* 호버 시 중간 회색 */
    color: #FFF; /* 호버 시 텍스트 색상 흰색으로 변경 */
}

#main-title {
    text-align: center;
    font-size: 28px;
    margin: 30px 0;
    color: #424242; /* 어두운 회색 */
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #BDBDBD; /* 경계선 색상 조정 */
    background-color: #E0E0E0; /* 밝은 회색 */
    color: #424242;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-append {
    background-color: #1B5E20; /* 더 어두운 녹색으로 변경 */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px; /* 약간 둥근 모서리 */
    transition: background-color 0.3s, transform 0.2s ease;
}

.btn-append:hover {
    background-color: #165A1B; /* 호버 시 더욱 진하고 어두운 녹색으로 변경 */
    transform: translateY(-2px); /* 버튼이 약간 위로 움직이는 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 추가 */
}

.btn-append:active {
    background-color: #0F3F14; /* 클릭 시 가장 진한 녹색으로 변경 */
    transform: translateY(1px); /* 클릭 시 버튼이 약간 아래로 움직이는 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 효과 조정 */
}

.bottom-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
