body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* body 마진 제거 */
}

.content {
    flex: 1; /* 컨텐츠가 화면을 채우도록 설정 */
    padding: 20px; /* 적절한 패딩 설정 */
}

#top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242; /* 어두운 회색으로 변경 */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 강화 */
    border-radius: 10px; /* 모서리 둥글기 */
    margin: 10px;
    overflow: hidden;
}

#top-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#top-menu ul li {
    margin: 0 20px; /* 간격 조정 */
}

#top-menu a {
    text-decoration: none;
    color: #E0E0E0; /* 메뉴 항목을 밝은 회색으로 변경 */
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#top-menu a:hover {
    background-color: #616161; /* 호버 시 중간 회색 */
    color: #FFF; /* 호버 시 텍스트 색상 흰색으로 변경 */
}

#main-title {
    text-align: center;
    font-size: 28px;
    margin: 30px 0;
    color: #424242; /* 어두운 회색 */
}

footer {
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #BDBDBD;
    background-color: #E0E0E0;
    color: #424242;
    font-size: 0.8em;
}

.btn-append {
    background-color: #1B5E20; /* 더 어두운 녹색으로 변경 */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px; /* 약간 둥근 모서리 */
    transition: background-color 0.3s, transform 0.2s ease;
}

.btn-append:hover {
    background-color: #165A1B; /* 호버 시 더욱 진하고 어두운 녹색으로 변경 */
    transform: translateY(-2px); /* 버튼이 약간 위로 움직이는 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 추가 */
}

.btn-append:active {
    background-color: #0F3F14; /* 클릭 시 가장 진한 녹색으로 변경 */
    transform: translateY(1px); /* 클릭 시 버튼이 약간 아래로 움직이는 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 효과 조정 */
}

.btn-remove {
    background-color: #9a2020; /* 더 어두운 녹색으로 변경 */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px; /* 약간 둥근 모서리 */
    transition: background-color 0.3s, transform 0.2s ease;
}

.btn-remove:hover {
    background-color: #671818; /* 호버 시 더욱 진하고 어두운 녹색으로 변경 */
    transform: translateY(-2px); /* 버튼이 약간 위로 움직이는 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 추가 */
}

.btn-remove:active {
    background-color: #3f0f0f; /* 클릭 시 가장 진한 녹색으로 변경 */
    transform: translateY(1px); /* 클릭 시 버튼이 약간 아래로 움직이는 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 효과 조정 */
}

.bottom-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.toast {
    /* 기타 스타일 설정 유지 */
    top: 20px; /* 상단에서의 위치 */
    right: 20px; /* 우측에서의 위치 */
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    font-size: 17px;
    transition: opacity 0.5s, top 0.5s ease;
    opacity: 0; /* 초기에는 투명 */

    padding: 16px 16px 14px;
}

.toast-progress-container {
    width: 100%;
    background-color: #ccc;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.toast-progress {
    height: 4px;
    background-color: #00ff00; /* 형광 녹색 */
    width: 0;
    transition: width 3s linear;
}

.toast.show {
    opacity: 1;
    top: 30px; /* 약간 아래로 이동 */
}

.toast.hide {
    opacity: 0;
    top: 20px; /* 원래 위치로 이동 */
}

.income-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 60px; /* 상하 마진 조정 */
}

/* 모달창의 배경과 정렬 */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px; /* 모달창의 모서리 둥글게 처리 */
    width: 240px; /* 모달창의 너비를 내용물에 맞춤 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

/* 닫기(X) 버튼 스타일 */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 25px; /* 닫기 버튼 크기 조정 */
}

/* 연도 선택 드롭다운 스타일 */
.year-select {
    width: 220px;
    margin: 10px 0; /* 여백 조정 */
    font-size: 14pt;
    text-align-last: center; /* IE 및 Edge에서 텍스트 중앙 정렬 */
}

/* 드롭다운 화살표 커스텀 스타일 */
.year-select::-ms-expand {
    display: none; /* IE에서 기본 화살표 숨김 */
}

/* 모바일 기기에서의 드롭다운 스타일 개선 */
@media screen and (max-width: 300px) {
    .year-select {
        width: 100%; /* 모바일 화면에서 너비 조정 */
    }
}

/* 월 버튼들을 위한 컨테이너 */
.month-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 설정 */
    grid-gap: 10px; /* 버튼 사이의 간격 */
    margin: 10px 0; /* 여백 조정 */
}

/* 월 버튼 스타일 */
.month-button {
    background-color: #e0e0e0; /* 버튼 색상을 무채색으로 설정 */
    color: #333; /* 글씨 색상 */
    border: none;
    border-radius: 5px; /* 버튼 모서리 둥글게 처리 */
    padding: 10px; /* 패딩 조정 */
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.2s; /* 호버 효과 */
}

.month-button:hover {
    background-color: #d4d4d4; /* 버튼 호버 색상 */
}

/* 버튼 크기 조정 */
.month-button {
    height: 40px; /* 버튼 높이 조정 */
    width: 70px; /* 버튼 너비 조정 */
}

.month-title {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: #252525; /* 텍스트 색상 */
    font-size: 34px; /* 글씨 크기 */
    font-weight: bold; /* 글씨 굵기 */
    padding: 0; /* 패딩 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    margin: 0 70px;
}

.month-title:hover {
    color: #5a5a5a; /* 호버 시 색상 변경 */
}

.year-title {
    font-size: 18px; /* 글씨 크기 */
}

.arrow {
    margin: 0 20px; /* 화살표의 좌우 마진을 늘려서 간격 확장 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: #757575; /* 색상 설정 */
    font-size: 24px; /* 크기 설정 */
    padding: 0; /* 패딩 제거 */
    cursor: pointer;
    transition: color 0.3s ease; /* 호버 시 색상 전환 효과 */
}

.arrow:hover {
    color: #5a5a5a; /* 호버 시 색상 변경 */
}